<?xml version="1.0"?>
<launch>
  <arg name="tdm" default="0"/>
  <param name="aw/goal_deligator_mode" type="int" value="$(arg tdm)"/>
  <rosparam command="load" file="$(find aw_hector_quadrotor)/cfg/maze4.yaml" />


  <include file="$(find aw_hector_quadrotor)/launch/map.launch">
    <arg name="map_name" value="maze4" />
  </include>
  <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />

  <include file="$(find aw_hector_quadrotor)/launch/spawn_quadrotor.launch">
    <arg name="name" value="drone1" />
    <arg name="x" value="10.0" />
    <arg name="y" value="11.0" />
  </include>

  <include file="$(find aw_hector_quadrotor)/launch/spawn_quadrotor.launch">
    <arg name="name" value="drone2" />
    <arg name="x" value="4.0" />
    <arg name="y" value="16.0" />
  </include>

</launch>