<?xml version="1.0"?>
<launch>
  <rosparam param="drones">['drone1','drone2','drone3']</rosparam>
  
  <include file="$(find aw_hector_quadrotor)/launch/city.launch"/>
   <arg name="model" default="$(find hector_quadrotor_description)/urdf/quadrotor.gazebo.xacro" />

  <arg name="d1" value="drone1"/>
  <group ns="$(arg d1)">
    <include file="$(find aw_hector_quadrotor)/launch/spawn_quadrotor.launch">
      <arg name="name" value="$(arg d1)" />
      <arg name="tf_prefix" value="$(arg d1)" />
      <arg name="model" value="$(arg model)" />
      <arg name="y" value="1.0" />
      <arg name="x" value="2.0" />
    </include>
  </group>

  <arg name="d2" value="drone2"/>
  <group ns="$(arg d2)">
    <include file="$(find aw_hector_quadrotor)/launch/spawn_quadrotor.launch">
      <arg name="name" value="$(arg d2)" />
      <arg name="tf_prefix" value="$(arg d2)" />
      <arg name="model" value="$(arg model)" />
      <arg name="y" value="70.0" />
      <arg name="x" value="2.0" />
    </include>
  </group>

  <arg name="d3" value="drone3"/>
  <group ns="$(arg d3)">
    <include file="$(find aw_hector_quadrotor)/launch/spawn_quadrotor.launch">
      <arg name="name" value="$(arg d3)" />
      <arg name="tf_prefix" value="$(arg d3)" />
      <arg name="model" value="$(arg model)" />
      <arg name="y" value="10.0" />
      <arg name="x" value="75.0" />
    </include>
  </group>

</launch>