<?xml version="1.0"?>

<launch>

  <node name="map_server" pkg="map_server" type="map_server" args="$(find aw_move_base)/maps/maze1.yaml"/>
  <rosparam command="load" file="$(find aw_task_deligator)/goals/maze1Goals.yaml" />
  <!-- <param name="aw/map_name" value="midroom" /> -->
  <include file="$(find aw_hector_quadrotor)/launch/common.launch" />
</launch>
